
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/AdminDashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="main-content">
            <header class="dashboard-header">
                <h1>Library Management System</h1>
                <div class="user-info">
                    <p>Welcome, Admin</p>
                </div>
            </header>
            <div class="dashboard-metrics">
                <div class="metric-box">
                    <h3>No of Books</h3>
                    <p id="bookCount">Loading...</p>
                </div>
                <div class="metric-box">
                    <h3>No of Members</h3>
                    <p>10</p>
                </div>
                <div class="metric-box">
                    <h3>Issued Books</h3>
                    <p>10</p>
                </div>
                <div class="metric-box">
                    <h3>Defaulter List</h3>
                    <p>10</p>
                </div>
            </div>
        </div>
        <nav class="sidebar">
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="@Url.Action("Index", "Book")">Manage Books</a></li>
                <li><a href="">Manage Members</a></li>
                <li><a href="#">Issue Book</a></li>
                <li><a href="#">Return Book</a></li>
                <li><a href="#">View Records</a></li>
                <li><a href="#">View Issued Books</a></li>
                <li><a href="#">Defaulter List</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
       
    </div>
    
</body>

</html>
