
body {
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to the entire body */
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
}

@media (max-width: 700px) {
    .tiles {
        grid-template-columns: repeat(1, 1fr);
    }
}

.tile {
    padding: 1rem;
    border-radius: 8px;
    background: linear-gradient(135deg, #1f3a73, #4169a5); /* Lighter gradient */
    color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.25s ease, background 0.25s ease;
    font-family: 'Poppins', sans-serif; /* Font for tiles */
}

    .tile:hover {
        transform: translateY(-5px);
        background: linear-gradient(135deg, #2b4a92, #5c8bce); /* Lighter hover effect */
    }

    .tile:focus-within {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #1f3a73;
    }

    .tile:nth-child(2) {
        background-color: #178f63;
    }

        .tile:nth-child(2):hover {
            background-color: #1dbb76;
        }

    .tile:nth-child(3) {
        background-color: #a0a0a0;
    }

        .tile:nth-child(3):hover {
            background-color: #c0c0c0;
        }

    .tile a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        position: relative;
        color: inherit;
        font-size: 1rem; /* Slightly increase link font size */
    }

        .tile a .icon-button {
            color: inherit;
            border-color: inherit;
        }

/* Tile Header Styles */
.tile-header {
    display: flex;
    align-items: center;
}

    .tile-header i {
        font-size: 2.5em;
    }

    .tile-header h3 {
        display: flex;
        flex-direction: column;
        line-height: 1.375;
        margin-left: 0.5rem;
    }

        .tile-header h3 span:first-child {
            font-weight: 600;
            font-size: 1.25rem; /* Make the title bigger */
            letter-spacing: 0.5px; /* Improve letter spacing */
        }

        .tile-header h3 span:last-child {
            font-size: 1rem; /* Slightly larger subtitle */
            font-weight: 400; /* Light weight for subtitle */
            color: rgba(255, 255, 255, 0.8); /* Softer white for numbers */
        }


