body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure full height */
}

.login-section {
    display: flex; /* Use flexbox for layout */
    height: 100vh; /* Full viewport height */
}

.left-side {
    flex: 1; /* Left side takes half the width */
    position: relative;
}

.background-image {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire area */
}

.right-side {
    flex: 1; /* Right side takes half the width */
    background-color: #fff; /* White background for form */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Column layout */
    justify-content: flex-start; /* Align items to the top */
    padding: 20px; /* Add some padding */
}

.container {
    width: 100%; /* Full width */
    margin-left: auto; /* Align to the right */
    margin-right: auto; /* Align to the right */
}

h2 {
    text-align: left; /* Left align heading */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .form-control:focus {
        border-color: #4a9bc3;
    }

.password-container {
    position: relative;
}

.btn-toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: #4a9bc3;
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #4a9bc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #4a9bc3;
    }

.text-danger {
    color: red;
    font-size: 0.875em;
}

a {
    color: #4a9bc3;
    text-decoration: underline;
}

    a:hover {
        color: #007bff;
    }
